In [1]:
import pandas as pd
import numpy as np
import datetime
import os

In [2]:
# Define the folder path containing your CSV files
folder_path = r"C:\Users\sande\OneDrive\Desktop\power BI\Supply Chain Anomaly Detection\Ecommerce Order Dataset\train"

# List all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Load each file into a separate DataFrame
for file in csv_files:
    file_name = os.path.splitext(file)[0]  # Remove the .csv extension
    file_path = os.path.join(folder_path, file)  # Full path to the file
    globals()[file_name] = pd.read_csv(file_path)  # Create a variable dynamically

    # Display confirmation and preview
    print(f"Loaded file: {file_name}")
    print(globals()[file_name].head())  # Preview the DataFrame

Loaded file: Dim_Customers
    customer_id  customer_zip_code_prefix       customer_city customer_state
0  hCT0x9JiGXBQ                     58125     varzea paulista             SP
1  PxA7fv9spyhx                      3112  armacao dos buzios             RJ
2  g3nXeJkGI0Qw                      4119             jandira             SP
3  EOEsCQ6QlpIg                     18212          uberlandia             MG
4  mVz5LO2Vd6cL                     88868            ilhabela             SP
Loaded file: Dim_OrderItems
       order_id    product_id     seller_id   price  shipping_charges
0  Axfy13Hk4PIk  90K0C1fIyQUf  ZWM05J9LcBSF  223.51             84.65
1  v6px92oS8cLG  qejhpMGGVcsl  IjlpYfhUbRQs  170.80             23.79
2  Ulpf9skrhjfm  qUS5d2pEAyxJ  77p2EYxcM9MD   64.40             17.38
3  bwJVWupf2keN  639iGvMyv0De  jWzS0ayv9TGf  264.50             30.72
4  Dd0QnrMk9Cj5  1lycYGcsic2F  l1pYW6GBnPMr  779.90             30.66
Loaded file: Dim_Payments
       order_id  payment_sequential payment_type  payment_installments  \
0  Axfy13Hk4PIk                   1  credit_card                     1
1  v6px92oS8cLG                   1  credit_card                     8
2  Ulpf9skrhjfm                   1  credit_card                     4
3  bwJVWupf2keN                   1  credit_card                     2
4  Dd0QnrMk9Cj5                   1  credit_card                     1

   payment_value
0         259.14
1         382.39
2         249.25
3          27.79
4          76.15
Loaded file: Dim_Products
     product_id     product_category_name  product_weight_g  \
0  90K0C1fIyQUf                      toys             491.0
1  qejhpMGGVcsl             watches_gifts             440.0
2  qUS5d2pEAyxJ  costruction_tools_garden            2200.0
3  639iGvMyv0De                      toys            1450.0
4  1lycYGcsic2F                      toys             300.0

   product_length_cm  product_height_cm  product_width_cm
0               19.0               12.0              16.0
1               18.0               14.0              17.0
2               16.0               16.0              16.0
3               68.0                3.0              48.0
4               17.0                4.0              12.0
Loaded file: Fact_Orders
       order_id   customer_id order_status order_purchase_timestamp  \
0  Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered      2017-10-22 18:57:54
1  v6px92oS8cLG  PxA7fv9spyhx    delivered      2018-06-20 21:40:31
2  Ulpf9skrhjfm  g3nXeJkGI0Qw    delivered      2018-02-16 16:19:31
3  bwJVWupf2keN  EOEsCQ6QlpIg    delivered      2018-08-18 18:04:29
4  Dd0QnrMk9Cj5  mVz5LO2Vd6cL    delivered      2017-12-22 16:44:04

     order_approved_at order_delivered_timestamp order_estimated_delivery_date
0  2017-10-22 19:14:13       2017-10-26 22:19:52                    2017-11-09
1  2018-06-20 22:20:20       2018-07-03 22:51:22                    2018-07-24
2  2018-02-17 16:15:35       2018-02-27 01:29:50                    2018-03-08
3  2018-08-18 18:15:16       2018-08-27 20:03:51                    2018-09-19
4  2017-12-22 17:31:31       2018-01-05 19:22:49                    2018-01-18

In [3]:
# Dim_Products
# Dim_Payments
# Dim_OrderItems
# Dim_Customers
# Fact_Orders

In [4]:
Dim_Products.isnull().sum()
# Filling missing values in 'product_category_name' with 'Unknown'
Dim_Products['product_category_name'].fillna('Unknown', inplace=True)

# Filling missing values in numeric columns with their median values
Dim_Products.isnull().sum()
# Filling missing values in numeric columns with their median values
numeric_columns = ['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
for col in numeric_columns:
    Dim_Products[col].fillna(Dim_Products[col].median(), inplace=True)
# Check to ensure all missing values are handled
print(Dim_Products.isnull().sum())

#save modified csv file
Dim_Products.to_csv

product_id               0
product_category_name    0
product_weight_g         0
product_length_cm        0
product_height_cm        0
product_width_cm         0
dtype: int64

C:\Users\sande\AppData\Local\Temp\ipykernel_11988\282907363.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dim_Products['product_category_name'].fillna('Unknown', inplace=True)
C:\Users\sande\AppData\Local\Temp\ipykernel_11988\282907363.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dim_Products[col].fillna(Dim_Products[col].median(), inplace=True)
C:\Users\sande\AppData\Local\Temp\ipykernel_11988\282907363.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dim_Products[col].fillna(Dim_Products[col].median(), inplace=True)
C:\Users\sande\AppData\Local\Temp\ipykernel_11988\282907363.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dim_Products[col].fillna(Dim_Products[col].median(), inplace=True)
C:\Users\sande\AppData\Local\Temp\ipykernel_11988\282907363.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dim_Products[col].fillna(Dim_Products[col].median(), inplace=True)

<bound method NDFrame.to_csv of          product_id     product_category_name  product_weight_g  \
0      90K0C1fIyQUf                      toys             491.0
1      qejhpMGGVcsl             watches_gifts             440.0
2      qUS5d2pEAyxJ  costruction_tools_garden            2200.0
3      639iGvMyv0De                      toys            1450.0
4      1lycYGcsic2F                      toys             300.0
...             ...                       ...               ...
89311  W8vikEizUggJ                      toys             700.0
89312  KXSbyJWtMMwZ                      toys             600.0
89313  EG4wDSpFyTth             health_beauty             250.0
89314  ZWyg4uNWPHjJ                      toys             250.0
89315  5pbzE0rDy61l                      toys            1750.0

       product_length_cm  product_height_cm  product_width_cm
0                   19.0               12.0              16.0
1                   18.0               14.0              17.0
2                   16.0               16.0              16.0
3                   68.0                3.0              48.0
4                   17.0                4.0              12.0
...                  ...                ...               ...
89311               21.0               14.0              14.0
89312               16.0               16.0              16.0
89313               22.0               10.0              18.0
89314               16.0                2.0              11.0
89315               32.0               18.0              24.0

[89316 rows x 6 columns]>

In [5]:
Dim_Products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             89316 non-null  object
 1   product_category_name  89316 non-null  object
 2   product_weight_g       89316 non-null  float64
 3   product_length_cm      89316 non-null  float64
 4   product_height_cm      89316 non-null  float64
 5   product_width_cm       89316 non-null  float64
dtypes: float64(4), object(2)
memory usage: 4.1+ MB

In [6]:
Dim_Payments.isnull().sum()
Dim_Payments.duplicated().sum()
# Dim_Pyaments are not having any null values or and duplicates

np.int64(0)

In [7]:
Dim_Payments.info()
# the datatypes are also good and no need of modifications

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              89316 non-null  object
 1   payment_sequential    89316 non-null  int64
 2   payment_type          89316 non-null  object
 3   payment_installments  89316 non-null  int64
 4   payment_value         89316 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.4+ MB

In [8]:
Dim_Customers.isnull().sum()
Dim_Customers.duplicated().sum()
Dim_Customers.info()
# the table is not having any missing values and no need to change the data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               89316 non-null  object
 1   customer_zip_code_prefix  89316 non-null  int64
 2   customer_city             89316 non-null  object
 3   customer_state            89316 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.7+ MB

In [9]:
Dim_OrderItems.isnull().sum()
Dim_OrderItems.duplicated().sum()
Dim_OrderItems.info()
# the datatype is good and  no missing values and convienent datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          89316 non-null  object
 1   product_id        89316 non-null  object
 2   seller_id         89316 non-null  object
 3   price             89316 non-null  float64
 4   shipping_charges  89316 non-null  float64
dtypes: float64(2), object(3)
memory usage: 3.4+ MB

In [10]:
Fact_Orders.info()

# Convert columns to datetime
Fact_Orders['order_purchase_timestamp'] = pd.to_datetime(Fact_Orders['order_purchase_timestamp'])

Fact_Orders['order_approved_at'] = pd.to_datetime(Fact_Orders['order_approved_at'])

Fact_Orders['order_delivered_timestamp'] = pd.to_datetime(Fact_Orders['order_delivered_timestamp'])

Fact_Orders['order_estimated_delivery_date'] = pd.to_datetime(Fact_Orders['order_estimated_delivery_date'])

# Create the 'Delay' feature
Fact_Orders['delivery_to_estimated_delivery_delay'] = (Fact_Orders['order_delivered_timestamp'] - Fact_Orders['order_estimated_delivery_date']).dt.days

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
dtypes: object(7)
memory usage: 4.8+ MB

In [11]:
Fact_Orders[Fact_Orders['order_delivered_timestamp'].isnull()]



# lots of null values are there but we cannot replace or change then with strings or dates for cancelled orders its better leave as null values

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,delivery_to_estimated_delivery_delay
15,P5R6jr1qZdh4,FrEvnEiMKGpr,canceled,2017-07-24 11:38:43,2017-07-24 11:50:18,NaT,2017-08-07,NaN
41,C21fWds5zL0W,iFsAJRrzVaTS,shipped,2017-02-04 12:58:55,2017-02-04 13:10:38,NaT,2017-03-15,NaN
86,vSug5AqRo9gE,oWBBqGwqpx4m,shipped,2017-05-07 10:22:58,2017-05-09 09:35:20,NaT,2017-06-12,NaN
89,2HQ26ShSPhCA,uvuFFZDOAlU7,canceled,2017-07-29 12:56:17,2017-07-29 13:05:18,NaT,2017-08-18,NaN
133,1By8LOosrvF2,grsbZ5L1H5ty,canceled,2017-11-06 15:47:20,2017-11-07 07:30:29,NaT,2017-11-28,NaN
...,...,...,...,...,...,...,...,...
89196,VP3EBMExdh7K,acB2XNtto2SX,shipped,2018-01-24 18:19:18,2018-01-24 18:37:41,NaT,2018-03-01,NaN
89226,0jPFvDPItbRN,Hb5m8q1YZEfv,canceled,2017-08-02 14:08:18,2017-08-02 14:23:13,NaT,2017-08-24,NaN
89234,QzxMjvdMpOEI,yCbzy1m4tTUA,shipped,2017-09-15 09:05:41,2017-09-15 09:15:13,NaT,2017-10-05,NaN
89262,rnnNWGgyHsA5,6LYRxLvrUzNy,canceled,2017-12-13 12:55:38,2017-12-13 13:11:58,NaT,2018-01-02,NaN
89281,YCJoeAvBWkpq,BaZgf4zWhXSS,shipped,2018-03-06 11:13:39,2018-03-06 11:30:38,NaT,2018-03-16,NaN

In [12]:
Fact_Orders.duplicated().sum()

np.int64(0)

In [13]:

# Define the output folder path
output_folder = r"C:\Users\sande\OneDrive\Desktop\power BI\Supply Chain Anomaly Detection\Ecommerce Order Dataset\Filtered-data"

# Ensure the output folder exists
os.makedirs(output_folder, exist_ok=True)

# Save each dynamically created DataFrame
for file in csv_files:
    file_name = os.path.splitext(file)[0]  # Extract the base file name
    output_file_path = os.path.join(output_folder, f"{file_name}_filtered.csv")  # Create output file path
    
    # Check if the variable exists in globals and is a DataFrame
    if file_name in globals() and isinstance(globals()[file_name], pd.DataFrame):
        globals()[file_name].to_csv(output_file_path, index=False)  # Save as CSV without the index
        print(f"Saved file: {output_file_path}")

Saved file: C:\Users\sande\OneDrive\Desktop\power BI\Supply Chain Anomaly Detection\Ecommerce Order Dataset\Filtered-data\Dim_Customers_filtered.csv
Saved file: C:\Users\sande\OneDrive\Desktop\power BI\Supply Chain Anomaly Detection\Ecommerce Order Dataset\Filtered-data\Dim_OrderItems_filtered.csv
Saved file: C:\Users\sande\OneDrive\Desktop\power BI\Supply Chain Anomaly Detection\Ecommerce Order Dataset\Filtered-data\Dim_Payments_filtered.csv
Saved file: C:\Users\sande\OneDrive\Desktop\power BI\Supply Chain Anomaly Detection\Ecommerce Order Dataset\Filtered-data\Dim_Products_filtered.csv
Saved file: C:\Users\sande\OneDrive\Desktop\power BI\Supply Chain Anomaly Detection\Ecommerce Order Dataset\Filtered-data\Fact_Orders_filtered.csv