In [1]:
# Import necessary libraries
import pandas as pd       # For data manipulation
import numpy as np        # For numerical computations
import matplotlib.pyplot as plt  # For basic plotting
import seaborn as sns     # For advanced visualizations
from sklearn.model_selection import train_test_split  # For splitting data
from sklearn.linear_model import LinearRegression     # Example prediction model
from sklearn.metrics import mean_squared_error, r2_score  # Evaluation metrics

In [2]:
# Read the dataset
file_path  = 'C:/Users/sande/OneDrive/Desktop/power BI/Stock Valuation Using Cash Flow Projections/Apple_Historical_Stock_Data.csv'
file_path1 = 'C:/Users/sande/OneDrive/Desktop/power BI/Stock Valuation Using Cash Flow Projections/Apple_Income_Statement_10_Years.csv'
file_path2 = 'C:/Users/sande/OneDrive/Desktop/power BI/Stock Valuation Using Cash Flow Projections/Balance_Sheet_10_Years.csv'
file_path3 = 'C:/Users/sande/OneDrive/Desktop/power BI/Stock Valuation Using Cash Flow Projections/Cash_Flow_10_Years.csv'
df = pd.read_csv(file_path)
df1 = pd.read_csv(file_path1)
df2 = pd.read_csv(file_path2)
df3 = pd.read_csv(file_path3)
# Increase the number of columns displayed
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)       # Adjust display width for better readability

In [6]:
df.columns

Index(['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [9]:
# Filtering the df Apple_Historical_Stock_Data.csv 

print(df.isnull().sum())
#df[' Volume '] = df[' Volume '].str.strip() #to remove extra spaces
#df[' Volume '] = df[' Volume '].str.replace(',', '', regex=False)   # to replace commas between the numerics 
#df[' Volume '] = pd.to_numeric(df[' Volume '])
df['Date'] = pd.to_datetime(df['Date'],errors='coerce')
print(df.info())
print(df.describe())
# Save the DataFrame back to the original CSV file
df.to_csv(file_path, index=False)
print('updated dataframe saved')


df

Date         0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3005 entries, 0 to 3004
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3005 non-null   datetime64[ns, UTC]
 1   Adj Close  3005 non-null   float64
 2   Close      3005 non-null   float64
 3   High       3005 non-null   float64
 4   Low        3005 non-null   float64
 5   Open       3005 non-null   float64
 6   Volume     3005 non-null   int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(1)
memory usage: 164.5 KB
None
         Adj Close        Close         High          Low         Open  \
count  3005.000000  3005.000000  3005.000000  3005.000000  3005.000000
mean     80.613575    82.775453    83.581238    81.887231    82.705906
std      65.568927    65.125907    65.736836    64.427632    65.052581
min      11.939034    13.947500    14.271429    13.753571    13.856071
25%      25.633987    28.230000    28.504999    27.915001    28.205000
50%      45.593632    47.860001    48.162498    47.544998    47.887501
75%     143.055847   145.429993   146.720001   143.250000   144.690002
max     246.750000   246.750000   247.240005   242.130005   243.990005

             Volume
count  3.005000e+03
mean   1.530598e+08
std    1.222073e+08
min    2.404830e+07
25%    7.685710e+07
50%    1.133164e+08
75%    1.860980e+08
max    1.460852e+09
updated dataframe saved

,Date,Adj Close,Close,High,Low,Open,Volume
0,2024-12-09 00:00:00+00:00,16.687342,19.608213,19.821428,19.343929,19.779285,560518000
1,2024-12-06 00:00:00+00:00,16.476713,19.360714,19.631071,19.321428,19.567142,352965200
2,2024-12-05 00:00:00+00:00,16.017754,18.821428,19.236786,18.779642,19.177500,594333600
3,2024-12-04 00:00:00+00:00,15.923534,18.710714,18.903570,18.400000,18.642857,484156400
4,2024-12-03 00:00:00+00:00,15.966394,18.761070,18.996071,18.616072,18.900356,458707200
...,...,...,...,...,...,...,...
3000,2013-01-08 00:00:00+00:00,242.649994,242.649994,242.759995,238.899994,239.809998,38861000
3001,2013-01-07 00:00:00+00:00,243.009995,243.009995,244.110001,241.250000,242.869995,44383900
3002,2013-01-04 00:00:00+00:00,243.039993,243.039993,244.539993,242.130005,243.990005,40033900
3003,2013-01-03 00:00:00+00:00,242.839996,242.839996,244.630005,242.080002,242.910004,36870600
3004,2013-01-02 00:00:00+00:00,246.750000,246.750000,247.240005,241.750000,241.830002,44649200

In [ ]:
# cleaning and filtering the apple_Income_Statement_10_Years.csv
# Clean column names to remove leading/trailing spaces
df1.columns = df1.columns.str.strip()

# Drop unwanted columns ( 'Unnamed' columns)
df1 = df1.drop(columns=[], axis=1, errors='ignore')

# Convert 'fiscalDateEnding' to datetime, handling errors gracefully
df1['fiscalDateEnding'] = pd.to_datetime(df1['fiscalDateEnding'], errors='coerce')

# Replace 'None' and '_' with 0 in the entire DataFrame
df1 = df1.replace(['None', '0', '  None  ', '  -    '], 0)

df1 = df1.fillna(0)

# List of columns to process
columns_to_clean = ['grossProfit', 'totalRevenue', 'costOfRevenue', 'costofGoodsAndServicesSold', 'operatingIncome', 'sellingGeneralAndAdministrative', 'researchAndDevelopment',
       'operatingExpenses', 'investmentIncomeNet', 'netInterestIncome', 'interestIncome', 'interestExpense', 'nonInterestIncome', 'otherNonOperatingIncome', 'depreciation',
       'depreciationAndAmortization', 'incomeBeforeTax', 'incomeTaxExpense', 'interestAndDebtExpense', 'netIncomeFromContinuingOperations',
       'comprehensiveIncomeNetOfTax', 'ebit', 'ebitda', 'netIncome']

# Loop through the selected columns
for col in columns_to_clean:
    # Remove commas and convert to integer
    df1[col] = df1[col].str.replace(',', '', regex=False)
    df1[col] = pd.to_numeric(df1[col], errors='coerce')

df1.to_csv(file_path1, index=False)
print('updated dataframe saved')
df1.info()

In [ ]:
# cleaning and filtering the Balance_Sheet_10_Years.csv
# Clean column names to remove leading/trailing spaces
df2.columns = df2.columns.str.strip()

# Drop unwanted columns ( 'treasuryStock' column in this case)
df2 = df2.drop(columns=['treasuryStock'], axis=1, errors='ignore')

# Drop rows with NaN values, reassigning the updated DataFrame
df2 = df2.dropna()

# Convert 'fiscalDateEnding' to datetime, handling errors gracefully
df2['fiscalDateEnding'] = pd.to_datetime(df2['fiscalDateEnding'], errors='coerce')

# Replace 'None', '0', and other placeholders with 0 in the entire DataFrame
df2 = df2.replace(['None', '0', '  None  ', '  -    '], 0)

# List of columns to process (numerical columns with commas)
columns_to_clean1 = ['totalAssets', 'totalCurrentAssets', 'cashAndCashEquivalentsAtCarryingValue', 
                     'cashAndShortTermInvestments', 'inventory', 'currentNetReceivables',
                     'totalNonCurrentAssets', 'propertyPlantEquipment', 'accumulatedDepreciationAmortizationPPE', 
                     'intangibleAssets', 'intangibleAssetsExcludingGoodwill', 'goodwill', 'investments', 
                     'longTermInvestments', 'shortTermInvestments', 'otherCurrentAssets', 'otherNonCurrentAssets', 
                     'totalLiabilities', 'totalCurrentLiabilities', 'currentAccountsPayable', 'deferredRevenue', 
                     'currentDebt', 'shortTermDebt', 'totalNonCurrentLiabilities', 'capitalLeaseObligations',
                     'longTermDebt', 'currentLongTermDebt', 'longTermDebtNoncurrent', 'shortLongTermDebtTotal', 
                     'otherCurrentLiabilities', 'otherNonCurrentLiabilities', 'totalShareholderEquity', 'retainedEarnings', 
                     'commonStock', 'commonStockSharesOutstanding']

# Loop through the selected columns
for col in columns_to_clean1:
    # Convert the column to string (if not already)
    df2[col] = df2[col].astype(str)
    
    # Remove commas from the string values and convert to numeric
    df2[col] = df2[col].str.replace(',', '', regex=False)
    
    # Convert the cleaned column to numeric, errors='coerce' will convert invalid parsing into NaN
    df2[col] = pd.to_numeric(df2[col], errors='coerce')

# Optionally, replace NaN values with 0 or another placeholder if needed
df2 = df2.fillna(0)

# Display the cleaned DataFrame and its data types
df2.info()

df2.to_csv(file_path2,index=False)
print('Updated data successfully')

In [ ]:
df2.head(2)

In [ ]:
# Cash_Flow_10_Years.csv data cleaning
# Clean column names to remove leading/trailing spaces
df3.columns = df3.columns.str.strip()

# Drop unwanted columns ( 'treasuryStock' column in this case)
df3 = df3.drop(columns=['proceedsFromOperatingActivities','paymentsForRepurchaseOfPreferredStock','dividendPayoutPreferredStock','proceedsFromIssuanceOfPreferredStock','proceedsFromSaleOfTreasuryStock','changeInExchangeRate','Unnamed: 29','Unnamed: 30'],axis=1,errors='ignore')


# Drop rows with NaN values, reassigning the updated DataFrame
df3= df3.dropna()

# Convert 'fiscalDateEnding' to datetime, handling errors gracefully
df3['fiscalDateEnding'] = pd.to_datetime(df3['fiscalDateEnding'], errors='coerce')

# Replace 'None', '0', and other placeholders with 0 in the entire DataFrame
df3 = df3.replace([' None ', '0', '  None  ', ' -   '], 0)

columns_to_clean2 =[ 'operatingCashflow',
       'paymentsForOperatingActivities', 'changeInOperatingLiabilities',
       'changeInOperatingAssets', 'depreciationDepletionAndAmortization',
       'capitalExpenditures', 'changeInReceivables', 'changeInInventory',
       'profitLoss', 'cashflowFromInvestment', 'cashflowFromFinancing',
       'proceedsFromRepaymentsOfShortTermDebt',
       'paymentsForRepurchaseOfCommonStock', 'paymentsForRepurchaseOfEquity',
       'dividendPayout', 'dividendPayoutCommonStock',
       'proceedsFromIssuanceOfCommonStock',
       'proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet',
       'proceedsFromRepurchaseOfEquity', 'changeInCashAndCashEquivalents',
       'netIncome']

# Loop through the selected columns
for col in columns_to_clean2:
    # Convert the column to string (if not already)
    df3[col] = df3[col].astype(str)
    
    # Remove commas from the string values and convert to numeric
    df3[col] = df3[col].str.replace(',', '', regex=False)
    
    # Convert the cleaned column to numeric, errors='coerce' will convert invalid parsing into NaN
    df3[col] = pd.to_numeric(df3[col], errors='coerce')

# Optionally, replace NaN values with 0 or another placeholder if needed
df3 = df3.fillna(0)

# Display the cleaned DataFrame and its data types
df3.to_csv(file_path3,index=False)
print('Updated data successfully')

In [ ]:




# Visualizations
# Correlation heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(data.corr(), annot=True, cmap='coolwarm', fmt=".2f")
plt.title("Correlation Heatmap")
plt.show()

# Distribution of a numerical column (replace 'column_name' with your actual column name)
plt.figure(figsize=(8, 5))
sns.histplot(data['column_name'], kde=True, color='blue')  # Replace 'column_name'
plt.title("Distribution of Column")
plt.show()

# Pairplot for relationships between numerical columns
sns.pairplot(data)
plt.show()

# Data Cleaning and Preparation
# Fill missing values (example: mean for numerical columns)
data.fillna(data.mean(), inplace=True)

# Feature Selection/Engineering (if needed)

# Splitting the dataset into training and testing sets for predictions
# Replace 'target_column' with your actual target column
X = data.drop('target_column', axis=1)  # Features
y = data['target_column']  # Target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Training
model = LinearRegression()  # Example regression model
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Model Evaluation
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"\nMean Squared Error: {mse}")
print(f"R-Squared Value: {r2}")

# Plotting Actual vs Predicted
plt.figure(figsize=(8, 5))
plt.scatter(y_test, y_pred, alpha=0.7, color='blue')
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], color='red', linewidth=2)
plt.title("Actual vs Predicted")
plt.xlabel("Actual")
plt.ylabel("Predicted")
plt.show()